.create-event {
    padding: 100px 75px;

    &__select-type {
        display: flex;
        flex-direction: column;
    }

    &__info {
        font-weight: 300;
        font-size: 34px;
        line-height: 40px;
        color: #FFFFFF;
    }

    &__about-step {
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        color: #1F64EB;
    }

    &__stepper {
        padding-left: 25px;
        margin-bottom: 75px;
        width: 100%;
        display: flex;

        & .stepper {
            margin-left: 50%;
            transform: translateX(-50%);
            transition: 500ms;

            &_active {
                margin-left: 0;
                transform: translateX(0);
                margin-right: 55px;
            }
        }

        & button {
            margin-right: 16px;
        }
    }
}
