.profile-progress {
    border-radius: 16px;
    padding: 24px;
    background: #1F64EB url("./bg.svg") no-repeat;
    background-size: 100%;

    &__content {
        opacity: 0;
        visibility: hidden;
        transition: 500ms;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        & .button {
            margin-top: 24px;
            width: 100%;
        }
    }

    &__info {
        max-width: 225px;
        color:#FFFFFF;
    }

    &__title {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
    }

    &__desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.7);
    }
}
