.loader {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(#131E47, .8);
}
.loader-content {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 80px;

    & div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 4px;
        background: #1F64EB;
        animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

        &:nth-child(1) {
            left: 8px;
            animation-delay: -0.24s;
        }

        &:nth-child(2) {
            left: 20px;
            animation-delay: -0.12s;
        }

        &:nth-child(3) {
            left: 32px;
            animation-delay: 0s;
        }
    }
}

@keyframes loader {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
