.soon-widget {
    grid-area: soon-widget;
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 9;
    grid-column-end: 13;

    &__list {
        margin-top: 22px;
        display: flex;
        flex-direction: column;

        & > div {
            margin-bottom: 22px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    & .soon-widget-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffffff;

        &__num {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            margin-right: 10px;
            display: block;
            min-width: 15px;
            text-align: center;
        }

        &__img {
            border-radius: 4px;
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 12px;
        }

        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 21px;
            color: #FFFFFF;
        }

        &__place {
            margin: 5px 0;
        }

        &__event {
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & > a {
                margin-top: 5px;
                color: #ffffff;
                font-size: 16px;
                line-height: 16px;
                padding: 2px 12px;
                display: block;
                background: rgba(31, 100, 235, 0.4);
                border: 1px solid #1F64EB;
                border-radius: 2px;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }


    }
}