.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @for $i from 1 through 5 {
        &_columns-#{$i} {
            @if $i == 1 {
                & > * {
                    width: 100%;
                }
            } @else {
                & > * {
                    width: calc(100% / #{$i} - calc(6px * #{$i}));
                }
            }
        }
    }
}
