.avatar-uploader {
    position: relative;
    width: 175px;
    height: 175px;


    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: -8px;
        border: 8px dashed rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        visibility: hidden;
        content: '';
    }

    &_is-highlighted::before {
        visibility: visible;
    }

    & input {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.avatar-uploader__mask {
    position: relative;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #888 ;
    background-size: 50%;
}

.avatar-uploader__preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-uploader__file {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.avatar-uploader__edit {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.avatar-uploader__buttons {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 12px;

    & div {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
    }

    & .button {
        font-size: 14px;
        padding: 8px 22px;
    }
}
