.checkbox {
    cursor: pointer;
    display: flex;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-size: 14px;

    & input:checked + .checkbox__custom .checkbox__checked {
        opacity: 1;
        visibility: visible;
        background-color: #fff;
    }

    &__custom {
        min-width: 18px;
        height: 18px;
        background: rgba(31, 100, 235, 0.2);
        border: 1px solid #1F64EB;
        box-sizing: border-box;
        border-radius: 2px;
        display: block;
        position: relative;
        margin-right: 8px;
    }

    &__checked {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: 300ms;
        width: 100%;
        height: 100%;
        display: block;
    }
}
