.select-dropdown {
    margin-top: 12px;
    position: absolute;
    z-index: 1;
    background-color: #131E47;
    border-radius: 8px;
    border: 1px solid #1f64eb;
    width: 100%;
    padding: 12px;
    max-height: 200px;
    overflow-y: scroll;

    &__item {
        list-style: none;
        cursor: pointer;
        border-radius: 4px;
        transition: 300ms;
        padding: 8px 12px;
        color: #ffffff;
        font-size: 14px;
        margin-bottom: 12px;


        &:hover {
            background-color: #1f64eb;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
