
.react-tel-input.tel-field {
    width: 100%;

    & .tel-field__input {
        background: rgba(31, 100, 235, 0.2);
        border: 1px solid #1F64EB;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 12px 22px 12px 46px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        transition: 300ms;
        height: auto;
        line-height: initial;

        &_error {
            border-color: #ff002e;
        }
    }

    & .tel-field__flag {
        border: 0;
        background: transparent;

        & .selected-flag {
            padding-left: 12px;
            background: transparent !important;
        }

        & .arrow {
            margin-left: 2px;
            border-top-color: #FFFFFF;

            &.up {
                border-bottom-color: #FFFFFF;
            }
        }
    }
}

