.multiple-checkbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &__item {
        font-size: 12px;
        background: rgba(31, 100, 235, 0.2);
        border: 1px solid #152C68;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 3px 14px;
        color: #FFFFFF;
        margin-right: 12px;
        cursor: pointer;
        margin-bottom: 12px;

        &.active {
            border-color: #1f64eb;
        }
    }
}
