.content-wrapper {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 1px;
        color: #FFFFFF;
    }

    &__content {
        margin-bottom: 34px;
        display: flex;
    }

    &__link {
        margin:  auto;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }
}
