.event-preset {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F64EB;
    border-radius: 6px;
    color: #FFFFFF;
    margin-bottom: 8px;
    font-weight: 500;
    padding: 5px;
    height: 30px;

    &:last-child {
        margin-bottom: 0;
    }

}
