.menu-item {
    padding: 12px 18px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 12px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1px;
    transition: 300ms;
    border: 1px solid transparent;
    overflow: hidden;
    
    &:first-child {
        border: 1px solid #1F64EB;
    }

    &:hover {
        border: 1px solid #1F64EB;
    }

    & svg {
        margin-right: 24px;
        min-width: 18px;
    }

    & p {
        white-space: nowrap;
    }

    &.active {
        background: #1F64EB;
    }

}