.input {
    position: relative;

    &::placeholder {
        color: red;
    }

    &__field {
        background: rgba(31, 100, 235, 0.2);
        border: 1px solid #1F64EB;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 12px 22px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        transition: 300ms;

        &_error {
            border-color: #ff002e;
        }
    }

    &__ico {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
    }
}
