.congratulations-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 1px;
        color: rgba(#FFFFFF, .8);
        max-width: 400px;
        font-weight: 300;


        &.congratulations-block__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 63px;
            letter-spacing: 1px;
            margin-bottom: 12px;
            max-width: unset;
            color: #FFFFFF;
        }

        &.congratulations-block__email {
            color: #FFFFFF;
        }
    }
}
