.field-wrapper {
    margin-bottom: 16px;
    position: relative;

    &__label {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        margin-bottom: 8px;
        display: block;
    }

    & .password {
        position: relative;

        & input {
            padding-right: 50px;
        }

        & .ico {
            cursor: pointer;
            width: 18px;
            height: 18px;
            display: block;
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
        }
    }
}
