.event-card {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    max-width: 290px;
    margin-right: 24px;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        & img {
            transform: scale(1.1);
        }
    }

    &__image {
        margin-bottom: 8px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        height: 180px;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 300ms;
        }
    }

    &__features {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        & .price {
            margin-bottom: auto;
            font-size: 14px;
        }
    }

    &__info {
        padding-left: 5px;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }

    &__desc {
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #D0D2DA;

        & .dot {
            margin: 0 5px;
            font-size: 26px;
        }
    }
}
