.logo {
    background-color: #1F64EB;
    background-size: 245px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    line-height: 46px;
    color: #FFFFFF;
    letter-spacing: 8px;

    & img {
        height: 100%;
        width: 100%;
    }
}