.base-layout {
    display: flex;

    & > div:not(.user-cabinet) {
        width: 100%;
    }

    &__forms {
        display: flex;
        justify-content: space-between;

        & .or {
            font-size: 24px;
            color: #fff;
            margin: 0 24px;
            align-self: center;
        }

        & form {
            width: 390px;


            & .form-title {
                font-weight: 300;
                margin-bottom: 36px;
                font-size: 22px;
                line-height: 29px;
                color: rgba(255, 255, 255, 0.6);
            }

            & .two-columns {
                display: flex;
                justify-content: space-between;

                & .field-wrapper {
                    width: calc(100% / 2 - 12px);
                }
            }
        }
    }

    & .buttons-block {
        margin-top: 24px;
        margin-bottom: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .checkbox {
            margin-bottom: 0;
        }
    }
}
