.sidebar {
    max-width: 90px;
    height: 100vh;
    background:#183582  url("./Man.svg") 0 100% no-repeat;
    background-size: 100%;
    position: relative;
    transition: 300ms;
    display: flex;
    flex-direction: column;
    z-index: 1;

    & .settings-menu {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: 300ms;

        & span {
            flex-grow: 1;
            min-height: 50px;
            display: flex;
            justify-content: center;
            transition: 300ms;
            position: relative;

            & svg {
                width: 18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                transition: 300ms;
            }
        }
    }
}
