.progress-circle {
    border-radius: 50%;
    background-color: #4379E7;
    color: #FFFFFF;
    font-weight: 600;
    position: relative;

    & svg {
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }

    & circle {
        transition: 500ms;
    }

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}
