.stepper {
    display: flex;
    align-items: center;

    &_single {

        & .stepper-item:not(:first-child) {
            display: none;
        }

        & .stepper-item:first-child {
            margin-right: 0;
        }

        &.stepper_active {
            position: relative;

            &::before {
                content: '';
                width: 25px;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%) translateX(-100%);
                background-color: #1F64EB;
            }

            & .stepper-item:first-child {
                display: none;
            }

            & .stepper-item:not(:first-child) {
                display: flex;
            }
        }
    }

    &-item {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: #131E47;
        border: 1px solid #1F64EB;
        transition: 300ms;
        border-radius: 50%;
        margin-right: 125px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;

        &::before {
            content: '';
            width: 125px;
            height: 1px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) translateX(100%);
            background-color: #1F64EB;
        }

        &:last-child {
            margin-right: 0;

            &::before {
                display: none;
            }
        }

        &_active {
            background: #1F64EB;
        }

        &__label {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -30px;
            white-space: nowrap;
        }
    }
}
