.avatar {
    border-radius: 50%;
    overflow: hidden;
    background-color: grey;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;

    &_empty {
        background: grey;

        & img {
            display: none;
        }
    }
}
