.settings-page {
    display: flex;

    &__navigation {
        max-width: 450px;
        padding: 40px;
        border-right: 1px solid #172556;
        height: 100%;
    }

    &__form {
        width: calc(100% - 450px);
        padding: 40px;
        position: relative;

    }

    & .with-avatar {
        max-width: 600px;
    }
}

.main-info {
    margin-top: 36px;
    padding-top: 24px;
    border-top: 1px solid #172556;
    display: flex;
    justify-content: space-between;
    $column: calc(100% / 3);
    &__personal {
        width: calc(#{$column} * 2 - 9px);
    }

    &__avatar {
        width: calc(#{$column} - 9px);
        display: flex;
        justify-content: center;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }

    &__desc {
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.4);
        margin-bottom: 30px;
    }
}
