.rdrCalendarWrapper {
    background: transparent;
    width: 100%;
}

.rdrMonths {
    border-radius: 16px;
    background: #1F64EA url('./bg.svg') no-repeat;
    background-size: cover;
}

.rdrMonth {
    padding: 6px 14px;
    width: 100%;
}

.rdrWeekDay {
    font-weight: 700;
    color: #ffffff;
}

.rdrDayNumber span {
    color: #ffffff;
}

.rdrDayToday {

    & .rdrDayNumber span {

        &::after {
            top: 0;
            right: 0;
            bottom: unset;
            left: unset;
            width: 8px;
            height: 8px;
            border: 2px solid #fff;
            border-radius: 50%;
            background: transparent !important;
            z-index: 1;
        }
    }
}

.rdrDayPassive span {
    color: #4C83EF !important;
}

.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after {

}
