.chat-page {
    padding: 40px 48px 0;
    display: grid;
    grid-template-columns: 25% auto;
    grid-column-gap: 85px;
    width: 100%;

    & .search {
        margin-right: 0;
        width: 100%;
        font-size: 16px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.6);

        & input {
            width: 100%;
            padding: 9px 9px 9px 46px;
        }

        & span {
            right: auto;
            left: 12px;

            & svg {
                margin-right: 12px;
            }
        }
    }
}

.chat-list {
    margin-top: 38px;

    &-item {
        display: grid;
        grid-template-columns: 48px 1fr 48px;
        grid-template-rows: 24px 24px;
        grid-column-gap: 12px;
        grid-template-areas: 'img name date' 'img message message';
        padding: 16px;
        background: #183582;
        border: 1px solid rgba(31, 100, 235, 0.4);
        box-sizing: border-box;
        box-shadow: 0 5px 10px rgba(31, 100, 235, 0.2);
        border-radius: 8px;
        transition: 300ms;
        margin-bottom: 24px;
        cursor: pointer;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            background-color: #1F64EB;
            opacity: 0;
            transition: 300ms;
        }

        &.active {
            box-shadow: unset;
            transform: translateX(20px);
            border-color: #131E47;
            background: linear-gradient(90deg, rgba(24, 53, 130, 0) 5.36%, rgba(24, 53, 130, 0.5) 100%);

            &::before {
                transform: translateX(-20px);
                opacity: 1;
            }

            & .chat-list-item__chevron {
                opacity: 1;
            }
        }

        &__chevron {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            opacity: 0;
            transition: 300ms;
            color: #FFFFFF;
        }

        &__img {
            margin-right: 12px;
            min-width: 48px;
            min-height: 48px;
            background-color: #C4C4C4;
            border-radius: 50%;
            overflow: hidden;
            grid-area: img;
        }

        &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.5px;
            color: #FFFFFF;
            grid-area: name;
        }

        &__message {
            font-size: 12px;
            line-height: 16px;
            color: #B6B6B6;
            grid-area: message;
        }

        &__date {
            font-weight: 600;
            font-size: 11px;
            line-height: 14px;
            color: #CCCCCC;
            grid-area: date;
        }
    }
}