.button {
    border-radius: 26px;
    border: 1px solid;
    padding: 10px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;

    &_square {
        border-radius: 4px;
    }

    &_primary {
        background: #131E47;
        border: 1px solid #1F64EB;
        box-sizing: border-box;
        border-radius: 4px;
    }

    &_secondary {
        background: #1F64EB;
        border-color: #1F64EB;
    }

    &_tertiary {
        background-color: #fff;
        color: #1F64EB;
        font-weight: 600;
        font-size: 16px;
    }

    &_transparent {
        background-color: transparent;
        border-color: transparent;
        color: rgba(255, 255, 255, 0.6);
    }
}
