.concert {
    position: relative;

    &-heading {
        position: relative;
    }

    .substrate {
        width: 100%;
        height: 255px;
        border-radius: 16px;
        overflow: hidden;
        mask-border: url("concertMask.svg") 27 27 78 204  repeat;
        mask-repeat: no-repeat;
        mask-size: contain;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(31, 100, 235, 0.31) 0%, rgba(51, 85, 146, 0.62) 56.77%, rgba(10, 8, 4, 0.62) 100%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            z-index: 1;
        }

        &__bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-heading {
            position: absolute;
            top: 0;
            height: calc(100% - 50px);
            width: 100%;
            display: flex;

            &__avatar {
                width: 180px;
                height: 110%;
                border-radius: 16px;
                overflow: hidden;
                background-color: grey;
                transform: translateY(-25px) ;
            }

            &__img {
                height: 100%;
                width: 200px;
                object-fit: cover;
            }
        }
    }

    & .buy {
        position: absolute;
        display: flex;
        align-items: center;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        left: 25px;
        bottom: -2px;
        cursor: pointer;

        & img {
            margin-right: 5px;
        }
    }
}
