.tooltip {
    position: absolute;
    z-index: 2;
    border-radius: 16px;
    border: 2px solid #1F64EB;
    transform: translateY(100%);
    background: #183582;
    overflow: hidden;
    padding: 8px 0;
}
