@import "./normalize";
@import "./typography";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #131E47;
}

menu {
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.hidden {
    display: none;
}
