@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 12px;
    color: #ffffff;
}

a {
    text-decoration: none;
}
