.calendar-page {
    overflow: hidden;
    max-height: 100vh;
    display: flex;
}

.calender-page__aside {
    padding: 40px;
    border-right: 1px solid #172556;
    max-width: 390px;
    min-width: 390px;
}

.calender-page__content {
    padding-top: 40px;
    padding-left: 40px;
    width: calc(100% - 390px);
}


.calender-page-filters {
    margin-top: 50px;

    &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;
        color: #FFFFFF;
        border-bottom: 1px solid #172556;
        padding-bottom: 12px;
        margin-bottom: 12px;
        display: block;
    }
}
