.popover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: 300ms;
    visibility: hidden;
    opacity: 0;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);

    &_show {
        visibility: visible;
        opacity: 1;
    }

    &__content {
        position: relative;
        overflow: hidden;
        background: #131E47;
        border: 3px solid #1F64EB;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 24px;
        transition: 300ms;
    }

    &__content_sm {
        min-width: 400px;
    }

    &__content_md {
        width: 800px;
    }

    &__content_lg {
        width: 1000px;
    }

    &__content_auto {
        width: auto;
    }
}
