
.schedule-list {
    min-width: 240px;
    max-width: 240px;
    position: relative;
    padding: 24px 12px 24px 18px;
    max-height: 100%;
    overflow-y: auto;
    mask-image: url("topMask.svg");
    mask-repeat: no-repeat;
    mask-size: contain;

    &::before {
        content: '';
        position: absolute;
        top: 42px;
        left: 0;
        height: calc(100% + 20px);
        width: 3px;
        background-color: #1F64EB;
    }

    &__item {
        padding: 6px 0;
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 24px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 14px;

        &:last-child {
            margin-bottom: 0;
        }

        & span {
            font-size: 12px;
            font-weight: 300;
        }
    }
}
