.user-cabinet {
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__name,
    &__sign-in {
        font-size: 18px;
        line-height: 14px;
        letter-spacing: 1px;
        color: #FFFFFF;
        white-space: nowrap;
    }

    &__sign-in {
        cursor: pointer;
    }

    &__name {
        margin-right: 12px;
        font-size: 16px;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    & .avatar {
        margin-right: 8px;
    }

    & svg {
        color: #FFFFFF;
    }

    & .dropdown {
        cursor: pointer;
    }

    &__dropdown {
        display: flex;
        flex-direction: column;

        & a {
            padding: 12px 32px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 14px;
            transition: 300ms;

            &:hover {
                background: rgba(#1F64EB, .5);
            }
        }

        & svg {
            width: 16px;
            margin-right: 16px;
        }
    }
}

