.select-event-type {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__item {
        cursor: pointer;
    }

    &__img {
        border-radius: 16px;
        border: 4px solid #1f64eb;
        margin-bottom: 12px;
        overflow: hidden;

        & img {
            max-width: unset;
            width: 102%;
            height: 100%;
            overflow: hidden;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        padding-left: 5px;
    }
}
