.chat-tabs {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 14px;
    min-height: 42px;

    &__item {
        font-size: 30px;
        line-height: 40px;
        color: #ffffff;
        opacity: .6;
        transition: 300ms;
        cursor: pointer;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: -8px;
            top: 4px;
            width: 5px;
            height: 5px;
            background-color: transparent;
            border-radius: 50%;
        }

        &.active {
            font-weight: 500;
            opacity: 1;
            font-size: 32px;
            line-height: 40px;

            &::after {
                background: #1F64EB;
            }
        }
    }
}